*{
    margin: 0;
    padding: 0;
}


.cabeçalho{
    background-color: #424E61;
    color: white;
    display: flex;
    justify-content:space-around;
    align-self: center;
    padding: 8px 5px;
}

.cabeçalho-imagem{
    width: 25%;
}

.cabeçalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 16px;
}